@import "../../node_modules/bootstrap/dist/css/bootstrap-grid.css";

.Header {
  position: fixed;
  top: 0;
  background-image: linear-gradient(to top, rgba(243, 251, 253, 0), #F4A8C2);
  width: 100%;
  &__logo {
    img {
      width: 100%;
    }
  }
}