@import "../../node_modules/bootstrap/dist/css/bootstrap-grid.css";

.Page_Reviews {

  .reviewsPhoto {
    max-width: 100%;
    border-radius: 50%;
  }

  .reviewsName {
    font-size: 26px;
    font-style: italic;
    text-align: right;
    font-weight: bold;
  }

  .reviewsText {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
  }

  .reviewsDate {
    text-align: right;
    font-style: italic;
    font-size: 16px;
  }


  .reviewsStarsWrap {
    margin-bottom: 20px;
  }

}