@import "../../node_modules/bootstrap/dist/css/bootstrap-grid.css";

.Page_Master {

  .contentWrap {
    border-radius: 10px;
    box-shadow: 5px 5px 40px #6EB1FF;
    margin-top: 40px;
    margin-bottom:40px;

    .master {
      &__photo {
        img {
          width: 100%;
        }
      }
      &__text {
        font-style: italic;
        font-size: 24px;
        text-align: center;
      }
      &__name {
        text-align: center;
        font-size: 48px;
        color: #0000FF;
        font-style: italic;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      &__ico {
        text-align: center;
        img {
          width: 15%;
        }
      }
    }
  }

  div.prize {
    box-shadow: 5px 5px 40px #E855A2;
  }

  .images {
    img {
      width: 100%;
    }
    .title {
      text-align: center;
      font-size: 35px;
      font-style: italic;
      font-weight: bold;
      color: #E855A2;
      margin: 20px;
    }
  }
}