body {
  a {
    color: unset;
    text-decoration: none;
  }
  margin: 0;
  .link {
    color: #23018c;
    transition: color 0.3s ease;
    &:hover {
      cursor: pointer;
      color: #ff002f;
    }
  }
  .odd {
    animation: AnimationOdd 8s infinite;
  }

  .even {
    animation: AnimationEven 8s infinite;
  }

  @keyframes AnimationOdd
  {
    from { box-shadow: 5px 5px 80px blue; background-color: rgba(255, 0, 255, 0.15); color: blue}
    50% { box-shadow: 5px 5px 80px magenta; background-color: rgba(110, 177, 255, 0.15); color: magenta}
    to { box-shadow: 5px 5px 80px blue; background-color: rgba(255, 0, 255, 0.15); color: blue}
  }
  @keyframes AnimationEven
  {
    from { box-shadow: 5px 5px 80px magenta; background-color: rgba(110, 177, 255, 0.15); color: magenta}
    50% { box-shadow: 5px 5px 80px blue; background-color: rgba(255, 0, 255, 0.15); color: blue}
    to { box-shadow: 5px 5px 80px magenta; background-color: rgba(110, 177, 255, 0.15); color: magenta}
  }
  .star {
    height: 25px;
    width: 25px;
    margin: 2px;
    display: inline-block;
    clip-path: polygon(
                    50% 0%,
                    63% 38%,
                    100% 38%,
                    69% 59%,
                    82% 100%,
                    50% 75%,
                    18% 100%,
                    31% 59%,
                    0% 38%,
                    37% 38%
    );
    background-color: gray;
  }

  .star.light {
    background-color: yellow;
  }

  .flex {
    display: flex;
  }

  .ma {
    margin: auto;
  }

  .tile {
    border-radius: 10px;
    margin: 40px 20px;
    width: 100%;
    padding: 20px;
  }
}